<div class="side-bar">
    <div class="banner">

    </div>
    <div style="font-size: 25px;
    text-align: center;">
        Home
    </div>
    <div style="opacity: 0.6;
    text-align: justify;
    padding: 10px;
    font-size: 13px;">
        <p>Your personal Reddit frontpage. Come here to check in with your favorite communities.
        </p>
    </div>
    <div style="margin-bottom: 10px;
    font-size: 15px;
    text-align: center;">
        <button>Create Post</button>
    </div>
    <div style="margin-bottom: 10px;
    font-size: 15px;
    text-align: center;">
        <button style="color: #ccc;
        background: #000;">Create Community</button>
    </div>
</div>