<div class="header">

    <div class="rigth">
        <img src="../../assets/img/logo.png" alt="">
    
        <a class="name-app" href="">REDDIT CLONE</a>
    </div>

    <div class="left" style="display: none;">
            <a class="login" routerLink="/login">Login</a>
            <a class="signup" routerLink="/signup">Signup</a>
    </div>

    <div class="user-detail">

        <div class="row">

            <div class="col-lg-9">

                <div class="avatar rounded">
        
                </div>

                <div class="user-name">
        
                </div>

            </div>
            <div class="col-lg-3">
                <fa-icon [icon]="faChevronDown" style="color: #fff;"></fa-icon>
            </div>
            
        </div>





    </div>

</div>